* {
    padding: 0;
    margin: 0;
}

.desc {
    position: absolute;
    left: 10vw;
    top: 10vh;
    width: 80vw;
    height: 80vh;
    z-index: 2;
    background-color: antiquewhite;
    border-radius: 15px;
    border: 1px solid #fff;
    overflow-y: scroll;
}

.desc .text {
    text-align: center;
    color: #000;
    font-size: 12vh;
}

.buttons {
    position: fixed;
    bottom: 15px;
    left: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    transform: translate(-50%, 0);
    width: 100%;
}

.buttons button {
    background-color: #1097de;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 5vh;
    color: #000;
    border: 1px solid #fff;
}

.buttons button.adding {
    background-color: #28b828;
    color: #fff;
}

.buttons button.close {
    background-color: #d41a30;
    color: #fff;
}

.buttons button.adding:hover {
    background-color: #1a751a;
}
.buttons button.close:hover {
    background-color: #a21c2c;
}

.addPlace {
    background-color: #1a751a;
    color: #fff;
    padding: 10px 15px;
    border: 1px solid #fff;
    border-radius: 15px;
}

.addPlace:hover{
    background-color: #249d24;
}

.msg {
    display: inline-block;
    margin: 0 auto;
    position: absolute;
    z-index: 33;
    top: 2vh;
    width: auto;
    text-align: center;
    font-size: 5vh;
    background-color: #28b828;
    color: #fff;
    padding: 10px 15px;
    left: 50%;
    transform: translate(-50%, 10px);

}

.intro {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.intro .added, .intro .icon {
    width: 20vw;
    height: 24vh;
    position: absolute;
    left: 10vw;
    top: 20px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #fff;
    border: none;
    border-radius: 15px;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    z-index: 50;
}

.intro .added p {
    margin: 1px;
}

.intro .added h3 {
    margin: 5px;
}

.intro .icon {
    left: 50%;
    top: 50%;
}

.ok {
    padding: 5px 30px;
    border: none;
    border-radius: 15px;
    background-color: #28b828;
    font-size: 24px;
    color: #fff;
}